{{define "bucket-list"}}

<!-- Bucket list -->
{{if .Buckets}}
<div class="grid md:grid-cols-3 gap-8">
  {{range .Buckets}}
  <a
    href="/buckets/{{.Name}}/objects"
    class="block p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
  >
    <svg
      class="w-10 h-10 text-gray-500 dark:text-gray-400 mb-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13.5 8H4m0-2v13a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1h-5.032a1 1 0 0 1-.768-.36l-1.9-2.28a1 1 0 0 0-.768-.36H5a1 1 0 0 0-1 1Z"
      />
    </svg>
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      {{.Name}}
    </h5>
    <p class="text-gray-700 dark:text-gray-400">
      Created {{.CreationDate.Format "on Jan 02, 2006 at 15:04"}}
    </p>
  </a>
  {{end}}
</div>

<!-- Fallback -->
{{else}}
<p style="text-gray-700 dark:text-gray-400">No buckets yet</p>
{{end}} {{end}}
