<ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
  <li>
    <div class="flex items-center">
      <a
        href="/buckets/{{.BucketName}}/objects"
        class="ms-1 flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white"
      >
        <svg
          class="w-5 h-5 mx-1"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13.5 8H4m0-2v13a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1h-5.032a1 1 0 0 1-.768-.36l-1.9-2.28a1 1 0 0 0-.768-.36H5a1 1 0 0 0-1 1Z"
          />
        </svg>
        <span>{{.BucketName}}</span></a
      >
    </div>
  </li>
  {{range .PathParts}} {{ $url = printf "%s/%s" $url .}}
  <li aria-current="page">
    <div class="flex items-center">
      <span class="text-gray-400 mx-1 font-semibold" aria-hidden="true">/</span>
      <a
        href="{{$url}}"
        class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white"
        >{{.}}</a
      >
    </div>
  </li>
  {{end}}
</ol>
