<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/pico@2.0.6.min.css" />
    <title>S3 Manager</title>
    <script src="/static/htmx@2.0.4.min.js"></script>
  </head>
  <body>
    {{embed}}
  </body>
</html>
