{{ define "content" }}
<nav>
    <div class="nav-wrapper container">
        {{ if .LogoPath }}
        <a href="/" class="brand-logo">
            <img src="{{ .LogoPath }}" alt="S3 Manager" class="s3-logo">
            <span class="s3-logo-text">S3 Manager</span>
        </a>
        {{ else }}
        <a href="/" class="brand-logo">S3 Manager</a>
        {{ end }}
    </div>
</nav>

<div class="container">
    <div class="section">
        <div class="row">

            {{ if .Buckets }}
                        {{ range $bucket := .Buckets }}
            <div class="col s12 m4">
                <a href="/buckets/{{ $bucket.Name }}" class="bucket-link">
                    <div class="card white hoverable compact-card">
                        <div class="card-content compact-content">
                            <div class="bucket-header">
                                <i class="material-icons bucket-folder-icon">folder</i>
                                <div class="bucket-info">
                                    <span class="card-title bucket-name">{{ $bucket.Name }}</span>
                                    <p class="bucket-creation-date">Created on {{ $bucket.CreationDate }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
            {{ end }}

            {{ if not .Buckets }}
            <p class="no-buckets-message">No buckets yet</p>
            {{ end }}

        </div>
    </div>
</div>

<div class="fixed-action-btn">
    <button type="button" class="btn-floating btn-large modal-trigger s3-button" data-target="modal-create-bucket">
        <i class="material-icons large">add</i>
    </button>
</div>

<div id="modal-create-bucket" class="modal">
    <form id="create-bucket-form">
        <div class="modal-content">
            <h4>Create Bucket</h4>
            <br>
            <div class="row">
                <div class="input-field col m6">
                    <input id="name" type="text" name="name" placeholder="My Bucket">
                    <label for="name">Name</label>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="modal-close waves-effect waves-green btn-flat">Cancel</button>
            <button type="button" class="modal-close waves-effect waves-green btn s3-button" onclick="createBucket()">Create</button>
        </div>
    </form>
</div>

<script>
    function createBucket() {
        var formData = {};
        $.each($('#create-bucket-form')
            .serializeArray(), function(i, field) {
                formData[field.name] = field.value;
            });
        $.ajax({
            type: 'POST',
            url: '/api/buckets',
            data: JSON.stringify(formData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function() { location.reload(); }
        });
    }
</script>
{{ end }}
