{{ define "content" }}
{{ $instancePath := "" }}
{{ if $.CurrentS3 }}{{ $instancePath = printf "/%s" $.CurrentS3.Name }}{{ end }}
<nav>
    <div class="nav-wrapper container">
        <a href="{{$.RootURL}}" class="brand-logo">S3 Manager</a>
        {{ if .CurrentS3 }}
        <span class="right">
            <i class="material-icons left">storage</i>{{ .CurrentS3.Name }}
        </span>
        {{ end }}
    </div>
</nav>

<div class="container">
    <div class="section">
        <div class="row">

            {{ if .HasError }}
            <div class="col s12">
                <div class="card red lighten-4">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s2">
                                <i class="material-icons large red-text">error</i>
                            </div>
                            <div class="col s10">
                                <span class="card-title red-text text-darken-2">Connection Error</span>
                                <p>{{ .ErrorMessage }}</p>
                                {{ if gt (len .S3Instances) 1 }}
                                <p><strong>Tip:</strong> Try switching to another S3 instance from the list below.</p>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ else if .Buckets }}
            {{ range $bucket := .Buckets }}
            <div class="col l6 m12">
                <a href="{{$.RootURL}}{{$instancePath}}/buckets/{{ $bucket.Name }}" style="color:black;">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col">
                                    <i class="material-icons large">folder_open</i>
                                </div>
                                <div class="col">
                                    <span class="card-title">
                                        {{ $bucket.Name }}
                                    </span>
                                    <p style="color:gray;">Created on {{ $bucket.CreationDate }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
            {{ else }}
            <p style="text-align:center;margin-top:2em;color:gray;">No buckets yet</p>
            {{ end }}

        </div>
    </div>
</div>

{{ if not .HasError }}
<div class="fixed-action-btn">
    <button type="button" class="btn-floating btn-large red modal-trigger" data-target="modal-create-bucket">
        <i class="material-icons large">add</i>
    </button>
</div>
{{ end }}

<div id="modal-create-bucket" class="modal">
    <form id="create-bucket-form">
        <div class="modal-content">
            <h4>Create Bucket</h4>
            <br>
            <div class="row">
                <div class="input-field col m6">
                    <input id="name" type="text" name="name" placeholder="My Bucket">
                    <label for="name">Name</label>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="modal-close waves-effect waves-green btn-flat">Cancel</button>
            <button type="button" class="modal-close waves-effect waves-green btn" onclick="createBucket()">Create</button>
        </div>
    </form>
</div>

<script>
    function createBucket() {
        var formData = {};
        $.each($('#create-bucket-form')
            .serializeArray(), function(i, field) {
                formData[field.name] = field.value;
            });
        $.ajax({
            type: 'POST',
            url: '{{$.RootURL}}{{$instancePath}}/api/buckets',
            data: JSON.stringify(formData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function() { location.reload(); }
        });
    }
</script>
{{ end }}
