name: Verify and Push

on: [push, pull_request]

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.18"
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Lint code
        uses: golangci/golangci-lint-action@v3
      - name: Run tests
        run: make test
      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: cloudlena
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Set up container image build
        uses: docker/setup-buildx-action@v1
      - name: Build and push container image
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: cloudlena/s3manager:latest
          platforms: linux/amd64,linux/arm/v7,linux/arm64/v8
