name: Lint and Test

on: [push, pull_request]

jobs:
  verify:
    name: Verify
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v2
      - uses: actions/checkout@v2
      - uses: golangci/golangci-lint-action@v2
      - run: make test
      - run: make build
