name: Lint and Test

on: [push, pull_request]

jobs:
  verify:
    name: Verify
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ^1.15

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Lint code
        uses: golangci/golangci-lint-action@v2
        with:
          version: latest

      - name: Test
        run: make test

      - name: Build
        run: make build
