name: Lint and Test
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: "1.14"
      - name: Lint
        uses: golangci/golangci-lint-action@v1
        with:
          version: v1.28
      - name: Test
        run: make test
      - name: Build
        run: make build
